<style>
    p.message-correct {
        border: 1px solid #9F9;
        background-color: #DFD;
        font-weight: bold;
        color: #060;
        padding: 4px 8px;
    }

    p.message-wrong {
        border: 1px solid #F99;
        background-color: #FDD;
        font-weight: bold;
        color: #600;
        padding: 4px 8px;
    }

</style>

<form action="#" method="post" class="passwordprotect">
    <fieldset>
        {% if app.session.get('passwordprotect') is empty %}
            <header class="box-title  login-box-title">
                <p class="login-box-header">
                    {{ config.message_login }}
                </p>
            </header>
            {{ form_widget(form) }}
            <input class="button" type="submit" name="Log on!"
                   value="{{ (config.label is defined ? config.label.loginbutton)|default('Log on') }}"/>
        {% else %}
            <input type="hidden" id="form__token" name="form[_token]" value="{{ form._token.vars.value }}"/>
            {% if config.message_off %}
                <p>{{ config.message_off }}</p>
            {% endif %}
            <input class="button" type="submit" name="Log off!"
                   value="{{ (config.label is defined ? config.label.logoutbutton)|default('Log out') }}"/>
        {% endif %}
    </fieldset>
</form>
